<div class="container">
  <div class="row center">
    <h3 class="invisible animated fast" id="man-for-job-txt">Meet your new
      <span class="myp">
        Software Engineer!
      </span>
    </h3>
    <img src="/assets/images/me.jpeg" class="responsive-img circle invisible animated fast" id="me-img">
  </div>
</div>
<div class="hide-on-small-and-down">
  <div class="row">
    <div class="col s4 center p-0">
      <a id="work-history-btn-large"
         class="link-btn btn btn-large waves-effect waves-purple btn-flat center mypbg
                invisible animated fast"
         href="/#/work-history">
        Work History</a>
    </div>
    <div class="col s4 center p-0">
      <a id="projects-btn-large"
         class="link-btn btn btn-large waves-effect waves-purple btn-flat center mysbg
                invisible animated fast"
         href="/#/projects">
        Side Projects</a>
    </div>
    <div class="col s4 center p-0">
      <a id="about-me-btn-large"
         class="link-btn btn btn-large waves-effect waves-purple btn-flat center myalbg
                invisible animated fast"
         href="https://www.linkedin.com/in/michael-harrison-4116b073/">
        About Me</a>
    </div>
  </div>
</div>
<div class="hide-on-med-and-up">
  <div class="row">
    <div class="col s4 center p-0">
      <a id="work-history-btn"
         class="link-btn btn waves-effect waves-purple btn-flat center mypbg
                invisible animated fast"
         href="/#/work-history">
        Work History</a>
    </div>
    <div class="col s4 center p-0">
      <a id="projects-btn"
         class="link-btn btn waves-effect waves-purple btn-flat center mysbg
                invisible animated fast"
         href="/#/projects">
        Side Projects</a>
    </div>
    <div class="col s4 center p-0">
      <a id="about-me-btn"
         class="link-btn btn waves-effect waves-purple btn-flat center myalbg
                invisible animated fast"
         href="https://www.linkedin.com/in/michael-harrison-4116b073/">
        About Me</a>
    </div>
  </div>
</div>
