.skill-card {
  min-height: 9em;
  padding-top: 1.5em;
  display: block;
}

.selected {
  background-color: #90A4AE;
  color: #212121;
}

.skill-card-container {
  padding-top: .5em;
  padding-bottom: .5em;
}

.skill-card:hover {
  background-color: #90A4AE;
  cursor: pointer;
}
