.skill-card {
  min-height: 7em;
  padding-top: 1em;
  display: block;
}

.selected {
  background-color: #E57373;
  color: #212121;
}

.skill-card-container {
  padding-top: .5em;
  padding-bottom: .5em;
}

.skill-card:hover {
  background-color: #90A4AE;
  cursor: pointer;
}
