<div class="container">
  <div class="row mb-0">
    <div class="col s12">
      <a href="/#/cart">
        <i class="material-icons shopping-cart-icon waves-effect waves-purple tooltipped"
           data-position="bottom"
           data-tooltip="Cart">
          shopping_cart</i>
      </a>
      <a href="/#/shop">
        <i class="material-icons shopping-cart-icon waves-effect waves-purple tooltipped"
           data-position="bottom"
           data-tooltip="Shop">
          shopping_basket</i>
      </a>
      <a href="/#/resume">
        <i class="material-icons shopping-cart-icon waves-effect waves-purple tooltipped"
           data-position="bottom"
           data-tooltip="Resume">
          folder_shared</i>
      </a>
    </div>
  </div>
</div>



