<div class="container">
  <div class="row mb-0">
    <div class="col s3 center">
      <a href="/#/shop">
        <i class="material-icons shopping-cart-icon waves-effect waves-purple tooltipped"
           data-position="bottom"
           data-tooltip="Shop">
          shopping_basket</i>
      </a>
    </div>
    <div class="col s3 center">
      <a href="/#/cart">
        <i class="material-icons shopping-cart-icon waves-effect waves-purple tooltipped"
           data-position="bottom"
           data-tooltip="Cart">
          shopping_cart</i>
      </a>
    </div>
    <div class="col s3 center">
      <a href="/#/work-history">
        <i class="material-icons shopping-cart-icon waves-effect waves-purple tooltipped"
           data-position="bottom"
           data-tooltip="Work History">
          folder_shared</i>
      </a>
    </div>
    <div class="col s3 center">
      <a href="/#/projects">
        <i class="material-icons shopping-cart-icon waves-effect waves-purple tooltipped"
           data-position="bottom"
           data-tooltip="projects">
          work</i>
      </a>
    </div>
  </div>
</div>



