<div class="container">
  <div class="row section">
    <div class="col s12">
      <h1 class="center">Tumbling letters here</h1>
    </div>
  </div>


  <div class="row section">
    <h3 class="center">Experience</h3>
    <div class="col s12 m6 l4">
      <div class="center">
        <h4>Selex Galileo Inc</h4>
        <h5><i class="material-icons">location_on</i>Huntsville, AL</h5>
        <h6>
          Software Engineer – Full-time (August 2018 - Present)
          Build and maintain C++ Electronic Warfare Avionic Systems 
          with Rhapsody and Visual Studio.
        </h6>
      </div>
    </div>
    <div class="col s12 m6 l4">
      <div class="center">
        <h4>Saturn Ergonomics</h4>
        <h5><i class="material-icons">location_on</i>Auburn, AL</h5>
        <h6>
          Angular Software Developer – (May 2018 - Aug 2018)
          Research, Design, and development a web-based suite of calculators for the ergonomic industry. The web application consists of an Angular 6 front-end with flask server back-end in python with MySQL database.
        </h6>
      </div>
    </div>
    <div class="col s12 m6 l4">
      <div class="center">
        <h4>ADTRAN</h4>
        <h5><i class="material-icons">location_on</i>Huntsville, AL</h5>
        <h6>
          User Experience Co-op – (May 2016 - Aug 2016)
          Design User interfaces per User Experience guidelines for several widgets in ADTRAN's MOSAIC framework. Design these widgets by means of heavy research, user testing, gathering feedback, drawing mockups, presenting mockups, and refining designs to best meet user needs.
        </h6>
      </div>
    </div>
    <div class="col s12 m6 l4 offset-l2">
      <div class="center">
        <h4>ADTRAN</h4>
        <h5><i class="material-icons">location_on</i>Huntsville, AL</h5>
        <h6>
          Optimize current data structure algorithms in C++ and C using STL containers. Construct more efficient data structure for OS timer handling and implement into the existing kernel code. Write many tests for own code with gtest framework.
        </h6>
      </div>
    </div>
    <div class="col s12 m6 l4">
      <div class="center">
        <h4>ADTRAN</h4>
        <h5><i class="material-icons">location_on</i>Huntsville, AL</h5>
        <h6>
          Work closely with a Triple Play Testbed. Upgrade the network, configure new services and write python scripts and python app to speed up redundant interaction with testbed and other telnet accessible lab equipment.
        </h6>
      </div>
    </div>
  </div>


</div>


