<h1 class="center red-text text-lighten-2">Experience</h1>
<div *ngFor="let job of getJobs()">
<div class="row card-panel experience-card-panel grey darken-4">
  <div class="col s12 m2 offset-m1 center">
    <i class="large material-icons job-icon">airplanemode_active</i>
  </div>
  <div class="col s12 m8">
    <blockquote>
    <div class="center">
      <h2>{{jobs[job]['title']}}</h2>
      <h5>{{jobs[job]['company']}}</h5>
      <h5><i class="material-icons">location_on</i>{{jobs[job]['location']}}</h5>
      <h5>{{jobs[job]['time']}}</h5>
      <h6>{{jobs[job]['description']}}</h6>
    </div>
    </blockquote>
  </div>
</div>
