<h1 class="center mys animated invisible fast" id="exp-header">Work History</h1>
<div *ngFor="let job of getJobs(); let i = index">
  <div [id]="'job' + i" class="row card-panel experience-card-panel myabg invisible fast animated">
    <div class="col s12 m2 offset-m1 center">
      <i class="large material-icons job-icon myp">{{jobs[job]['icon']}}</i>
      <h6>{{jobs[job]['time']}}</h6>
    </div>
    <div class="col s12 m8">
      <blockquote>
      <div class="center">
        <h2 class="mys">{{jobs[job]['title']}}</h2>
        <h4 class="myp">{{jobs[job]['company']}}</h4>
        <h5><i class="material-icons">location_on</i>{{jobs[job]['location']}}</h5>
        <h6>{{jobs[job]['description']}}</h6>
      </div>
      </blockquote>
    </div>
  </div>
</div>
