<!--nav on medium and up-->
<div class="hide-on-large-only">
  <nav>
    <div class="nav-wrapper mysbg">
      <a href="#" class="brand-logo mya">MGH</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/#/work-history" class="waves-effect waves-light">Work History</a></li>
        <li><a href="/#/projects" class="waves-effect waves-light">Projects</a></li>
        <li><a href="/#/shop" class="waves-effect waves-light">Shop</a></li>
        <li><a href="/#/cart" class="waves-effect waves-light">Cart</a></li>
      </ul>
    </div>
  </nav>
</div>
