<!--sidenav-->
<ul id="slide-out" class="sidenav sidenav-fixed mysbg">
  <a href="#">
  <div id="home-sidebar-link" class="myabg">
    <h1 class="m-0 light-txt center waves-effect waves-ripple">Michael Harrison</h1>
  </div>
    </a>
  <li><a href="/#/work-history" class="waves-effect waves-light">Work History</a></li>
  <li><a href="/#/projects" class="waves-effect waves-light">Projects</a></li>
  <li><a href="/#/shop" class="waves-effect waves-light">Shop</a></li>
  <li><a href="/#/cart" class="waves-effect waves-light">Cart</a></li>
</ul>

