<!--sidenav-->
<ul id="slide-out" class="sidenav sidenav-fixed mysbg">
  <a href="/#/checkout">
  <div id="home-sidebar-link" class="myabg">
    <h5 class="m-0 light-txt center waves-effect waves-ripple"
        id="side-nav-header">
      Michael Harrison
    </h5>
  </div>
    </a>
  <li><a href="/#/shop" class="waves-effect waves-light">Shop</a></li>
  <li><a href="/#/cart" class="waves-effect waves-light">Cart</a></li>
  <li><a href="/#/work-history" class="waves-effect waves-light">Work History</a></li>
  <li><a href="/#/projects" class="waves-effect waves-light">Side Projects</a></li>
</ul>

